*{
    margin:0px;
    /* background:#adf8ff; */
}
:root{
    --ff-1: 'Open Sans', sans-serif;
    --ff-2:'Roboto', sans-serif;
}
.skill{
    font-size: 1rem;
}
h1,h2{
    font-family:var(--ff-1);
}

p{
    font-family: var(--ff-2);
}
body{
    margin:5px;
   
}
.nothing{
    display: none;
}

@media(max-width:1000px){
    
    .whole{
        display: none;
    }
    .nothing{
        display: block;
        text-align:center;
    }
    
 } 
.section-1{
    
    background: whitesmoke;
}
.my_image{
    height: 15rem;
    width: auto;
    margin-left: 10px;
    float: right;
    margin-right: 30rem;
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
                0.125em 0.125em 0.25em rgba(0,0,0,0.15);
    position:relative;
    z-index:2;
    display: block;
    cursor: pointer;
}
.welcome{
    text-align: center;
    text-decoration: darkslategrey;
    font-size: 2rem;
    font-size: 2rem;
    display: inline-block;
    margin: 10px; 
    font-family: var(--ff-2);  
}
.name{
    text-decoration: underline;
    background-color: #c0fdff;
    position: relative;
    font-size: 2rem;
    margin-left: 5rem;
    margin-right: 20rem;
    margin-top: 2rem;
    margin-bottom: 10px;
    
    
}
.section-2{
    background-color:whitesmoke;
}
.intro{
    display: block;
    background-color: #cce6f4;
    
    
}
.intro{
    display: inline;
    background:#bee9e8;
    /* color: white; */
    border: 3px solid #ced4da;
    border-radius: 20px;
    margin-bottom: 30px;   
    padding:2px;
    font-size: 1.5rem;
}
.para{
    background: #35414b;
    color: white;
    padding: 2px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 20rem;
    
    margin-bottom: 15px;
    font-size:1rem;
    padding: 5px;
    
}
.skill-title{
   
    font-size:1.5em;
    padding: 4px;
    background-color:#bee9e8 ;
    display: inline;
    border: 3px solid #ced4da;
    border-radius: 20px;
    
   
}
.skill-description{
    margin-top: 8px;
    background: #35414b;
    color: white;
    margin-bottom: 13px;
    
}
.skill{
    font-size: 1.3rem;
}
.certifications{
    background-color: #35414b;
    
}

.title{
    text-align: center;
    color:#c0cdd8;
}
.cert-title{
    font-size: 1.5rem;
    background:#bee9e8;
    border: 3px solid #ced4da;
    border-radius: 20px;
    display: inline;
    padding: 2px;
   
}
.certificate{
    
    width: 500px;
    height: auto;
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
                0.125em 0.125em 0.25em rgba(0,0,0,0.15);

}
.certifications{
    margin-top: 6px;
    margin-bottom: 10px;
}
.certificate:hover{
    cursor: pointer;
    transform: scale(1.02);
    
    transition-property: transform;
    transition-duration: 1s;
    
}
.certificate{
    margin-left: 20rem;
    margin-right: 20rem;
    overflow: hidden;
}
span{
    background-color: red;
    width: 10px;
    height: 10px;
}
.about_heading{
    
    background:#bee9e8;
    border: 3px solid #ced4da;
    border-radius: 20px;
    font-size:1.5rem;
    display : inline;
    padding: 2px;
}
.para-2{
    background:  #35414b;
    color: white;
    margin-top: 5px;
}
.contact{
    margin-top: 10px;
    background: whitesmoke;
}
.contact_head{
    font-size: 1.5rem;
    color:#412234;
    text-align: center;
}
.email{
    font-size: 1.1rem;
    color: grey;
    text-align : center;
}

